In [4]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3] -> (1,2), (1,3), (2,3) -> 3C2 -> 3 comb
# [1,2,3,4] -> 1,2 1,3 1,4 2,3 2,4 3,4  -> 4c2 ->6 comb
# [1,2,3,4] -> 1,2,3 1,3,4 2,3,4

def combinations(li):
    for i in range(len(li) - 1):
        for j in range(i+1, len(li)):
            print(li[i],li[j])
    return

li =[1,2,3,4,5]
combinations(li)

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [7]:
def combinations(li):
    for i in range(len(li) - 2):
        for j in range(i+1, len(li)-1):
            for k in range(j+1, len(li)):
                print(li[i],li[j],li[k])
    return

li =[1,2,3,4,5]
combinations(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [39]:
# [1,2,3] ->[1,2,3]

def medium(li,k):
    while(True):
        li2 = differencePairs(li)
        if li2[0] == li2[1]:
            break
    if len(li2[0]) >= k:
        return sorted(li2[0],reverse=True)[k-1]
    return -1

# function to identify differences of all elements
# pairs of numbers and add those differences to same list
# it returns the updated and original list

def differencePairs(li):
    cli = li[:]
    #cli = li.copy()
    newElements =[]
    for i in range(len(li) - 1):
        for j in range(i+1, len(li)):
            diff =abs(li[i]-li[j]) 
            if diff not in li and diff not in newElements:
                #cli.append(diff)
                newElements.append(diff)
    li.extend(newElements)
    return [cli, li]

li = [3,6,9,12,2]
differencePairs(li)
differencePairs(li)
medium(li,2)

10

In [ ]:
#list  of

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16] - even list no '1'
[3,6,9,12]
# Convert the list into arithmetic progression

[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

## Set - Data Structure in Python

- represented by '{}'
- mutable
- no indexing

In [54]:
a = {1,2,3,4,5,6,6} 

a.add(7)  # adding single element

"""for i in a:
    print(i,end =' ')"""  # accessing elements

b= {1,2,3,4.9,8,-1}
li = [123,89,1]

a.update(b,li)    # adding multiple elements
a

a.discard(123)    # to remove an element
a

{-1, 1, 2, 3, 4, 4.9, 5, 6, 7, 8, 89}

## Set operations

In [68]:
# Union

a = {1,2,3,46,677}
b = {34,6,2,78}

a.union(b)
b.union(a)

{1, 2, 3, 46, 677}

In [69]:
# Intersection
a = {1,2,3,46,677}
b = {34,6,2,78}
c = {4,9}

a.intersection(b)

{2}

In [59]:
b.intersection(a)

{2}

In [63]:
# disjoint

a.isdisjoint(b)
a.isdisjoint(c)

True

In [64]:
a - b   # all elements of a which are not in b

{1, 3, 46, 677}

In [65]:
b-a

{6, 34, 78}

In [66]:
sorted(a)

[1, 2, 3, 46, 677]

In [70]:
a ^ b # elements either in a or b (gives uncommon elements)

{1, 3, 6, 34, 46, 78, 677}

In [72]:
# set creation

d = set()  # creates an empty set
d

set()

In [73]:
li = [1,2,3,4,56,4,3,2,1]
u=set(li)
u

{1, 2, 3, 4, 56}

## Functional Programming

#### List Comprehension

In [79]:
# N natural numbers in a list

n=10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
li=[i for i in range(1,5)]
li

[1, 2, 3, 4]

In [83]:
# Apply list comprehension to store cubes on n natural numbers

li = [i**3 for i in range(1,5)]
li

[1, 8, 27, 64]

In [3]:
# Function to calculate the factorial

def factorial(n):
    if n==0 or n==1:
        return 1
    return n * factorial(n-1)   

#apply list comprehension to calculate factorial

n = 6
fact =[factorial(i) for i in range(1,n+1)]
fact

[1, 2, 6, 24, 120, 720]

In [106]:
# store cumulative sum of numbers till n in a list
# n=3, [1,3,6]

n=4
s = [sum(range(1,i+1)) for i in range(1,n+1)]
s

[1, 3, 6, 10]

In [116]:
# list comprehension to store only leap years in a given time period

syear =1970
eyear =2019
lyear = [i for i in range(syear, eyear+1) if (i%400 ==0 and i%100!=0) or i%4 ==0]
lyear

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [4]:
# in - li = [1,2,3,2,1]
# out - li =[1,2,3]

li = [1,2,3,2,1,4]
#li.sort()
unique = [i for i in range(1,len(li)+1) if i in li]  #for diff list
# for same list
#u2=[]
#unique=[]
#unique = [li[i] for i in range(0,len(li)-1) if (li[i] != li[i+1] and i<= len(li)-1) or i == len(li)-1 ]

#[u2.append(i) for i in li if not ]
unique

[1, 2, 3, 4]

## Iterators in Python

   Iterable - Strings, Lists, Tuples, Sets, Dictionaries

   Convert Iterable to iterator -> iter()
   
   For loop:
   
   Iterator: stops while executing

In [29]:
it = iter('python')

print('1:')
print(next(it))
print('\n')
print('2:')
print(next(it))

1:
p


2:
y

### Generators

Generator is a function

In [42]:
def generator():
    n = 2
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n
    
a= generator()
print(next(a))
print(next(a))
print(next(a))
next(a)

2
8
512

StopIteration:

In [49]:
def generator():
    n = 2
    while True:
        n **= 3
        yield n
    
a= generator()

"""next(a)
b= next(a) ** 2
b*=next(a)
b"""

for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208